<div id="filamentrevolutions_sidebar" data-bind="visible: show_status">

	<i class="icon-comment"></i> 

	Tool 0:<span data-bind="text: filamentrevolutions_message"></span>
	<br>
	Tool 1:<span data-bind="text: filamentrevolutions_message"></span>

</div>